# STE admsrv
#
type admsrv, domain;
type admsrv_exec, exec_type, file_type;

init_daemon_domain(admsrv)

allow admsrv self:capability sys_nice;
allow admsrv self:capability chown;
allow admsrv self:capability dac_override;
allow admsrv self:capability fowner;
allow admsrv shell_data_file:dir { read search setattr add_name remove_name write };
allow admsrv shell_data_file:sock_file { create getattr setattr open read write unlink };
allow admsrv shell_data_file:file { open getattr setattr read write unlink create lock };
allow admsrv sysfs_wake_lock: file { open read write };
allow admsrv sysfs_devices_system_cpu:file { write };
allow admsrv admsrv:process { execmem };
allow admsrv shell_exec:file { execute open read execute_no_trans };
allow admsrv system_data_file:dir { open read write create remove_name add_name getattr setattr };
allow admsrv system_data_file:file { create open rename read write link unlink lock setattr };
allow admsrv device:file { open read write };
allow admsrv audio_device:dir { search };
allow admsrv audio_device:chr_file { open getattr read write ioctl };
allow admsrv unlabeled:file { setattr };
allow admsrv radio_device:chr_file { open getattr read write ioctl };
allow admsrv admsrv:netlink_socket { create bind setopt read write };
allow admsrv tmpfs:dir { open read write add_name remove_name };
allow admsrv admsrv_tmpfs:file { open read write create unlink };
allow admsrv admsrv:fd { use };
