domain_trans(init, rootfs, admsrv)
allow init self:capability sys_module;
allow init init:process { execmem setcurrent };
allow init shell_data_file:sock_file { getattr open read write };
allow init system_server:process { dyntransition getpgid };
allow init shared_relro:process { dyntransition getpgid };
allow init platform_app:process { dyntransition getpgid };
allow init untrusted_app:process { dyntransition getpgid };
allow init system_app:process { dyntransition getpgid };
allow init isolated_app:process { dyntransition getpgid };
allow init radio:process { dyntransition getpgid };
