allow mediaserver shell_data_file:dir { search };
allow mediaserver shell_data_file:sock_file { write };
allow mediaserver cpuctl_device:dir { search };
allow mediaserver unlabeled:dir { search };
allow mediaserver admsrv:unix_stream_socket { connectto };
allow mediaserver system_data_file:dir { setattr };
allow mediaserver shell_data_file:file { read write open getattr setattr lock };
allow mediaserver admsrv:fd { use };
allow mediaserver admsrv_tmpfs:file { open getattr read write };
allow mediaserver graphics_device:chr_file { open read write getattr ioctl };
