allow radio graphics_device:chr_file { open read write getattr ioctl };
allow radio init:unix_dgram_socket { write };
allow radio init_tmpfs:file { open read write };
