allow rild rild:process { execmem };
allow rild unlabeled:dir { search };
allow rild unlabeled:file { open getattr read write setattr};
allow rild radio_data_file:dir { setattr };
