allow system_server graphics_device:chr_file { read write open getattr ioctl };
allow system_server init:unix_dgram_socket { read write };
allow system_server init_tmpfs:file { read };
