on charger
    write /sys/class/power_supply/battery/batt_lp_charging 1

service charger /sbin/charger
    class charger
    critical

on boot
    # Set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor powersave
